*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assest/bg-img.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::after{
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #0062A18F 30%, #FFFFFF 100%);
  opacity: 0.6;
  z-index: -1;
}
.form{
  width: 100%;

}
.inputText{
  width: 300px;
  padding: 5px 8px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid #1D5D9B;
  font-size: 20px;
  text-align: center;
}
.submitBtn{
  padding: 8px;
  width: 100%;
  font-size: 18px;
  border: none;
  margin-top: 30px;
  background-color: #1D5D9B;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  cursor: pointer;
}
.city{
  font-size: 30px;
  font-weight: 500;
}
.w-value{
  display: flex;
  align-items: center;
  justify-content: center;
}
.temperature{
  font-size: 40px;
  font-weight: bold;
}
.icon{
  margin-left: 10px;
  font-size: 18px;
}
.weather{
  font-size: 25px;
}
.feels-temp{
  display: flex;
  align-items: center;
  justify-content: center;
}
